<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>73AF30EA-FFE0-4169-870D-69F1ED982571.playgroundpage</string>
		<string>51B512AC-47D9-40AF-9387-9FB0568DA476.playgroundpage</string>
		<string>AF1E8A0D-F76F-43E8-8768-EB3311BDCD50.playgroundpage</string>
		<string>8B2AECEA-89E5-4704-9A96-363D1B6FA4EC.playgroundpage</string>
		<string>340ED452-D4ED-4B00-90A7-FF4A69BD4938.playgroundpage</string>
		<string>D0B085AE-E104-4BB4-8141-804FB3099F7F.playgroundpage</string>
		<string>69215AA1-252E-4C2B-B35A-FF7793B3366E.playgroundpage</string>
		<string>9311687D-E86C-4F0B-B87B-AEDB85B61E95.playgroundpage</string>
	</array>
</dict>
</plist>
